




/* navbar offcanvas */
.nav-offcanvas {
  width: 75vw!important;
}

.offcanvas-close {
  position: absolute;
  top: 2%;
  right: -28%;
  height: 3rem;
  width: 3rem;
  padding: .8rem;
}

.navoffcanvasbtn:focus {
  box-shadow: none!important;
}

.subCat {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(220%);
  transition: all .3s ease;
}

.subCatShow {
  transform: none;
}

.mainCat {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: transform .3s ease;
}

.mainCatShow {
  transform: none;
}

/* search modal */
.search-head {
  padding-bottom: 0;
}

.search-inp {
  border: 0!important;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.search-inp:focus {
  box-shadow: none!important;
  border-bottom: 1px solid black!important;
  border-radius: 0!important;
  padding-bottom: .5rem;
}




/* ===============================================================================
media queries
===================================================================================  */
@media (min-width: 768px) {
  .navoffcanvasbtn {
    display: none!important;
  }
  .offcanvasCollapse {
    display: none!important;
  }
}